SKYE_ENVIRONMENT=local

HTTP_SECRET=iuowghouiagbhwojbawgljkwbnaogjawol

##== Database
DATABASE_HOST=localhost
DATABASE_PORT=25433
DATABASE_USERNAME=skye-hosts
DATABASE_PASSWORD=skye-hosts
DATABASE_NAME=skye-hosts
DATABASE_LOGGING=true
DATABASE_SSL_ENABLED=false

##== Database admin
DATABASE_ADMIN_EMAIL=info@bookskye.co.uk
DATABASE_ADMIN_PASSWORD=password

SKYE_GLAMPING_API_SENTRY_DSN=https://ad694cf28e46f72b513f00197e084e95@o4511015368916992.ingest.de.sentry.io/4511015380779088
STRIPE_SECRET=sk_test_51T4qIxBP1stdD6rgmleYTZLjIwZ7jo9KuVRNuxxUlzoS8pD3EKh4TjQxUEGzKdzf4zzb5v9cndFzsJmegXIBFueL00fs1DSFkA
JWT_SECRET=dsbKJUusZVGJUd05cwFv0DX4RFC6yEUjd7LutqbylDtArATbALbML1dLsH1yVxzdywLze9HEcncC5mOh5E+16g==
AWS_SQS_ENVIRONMENT=qa

TWILIO_ACCOUNT_SID=ACecf14c670f0d3fd5cbf7404fc0202ee5
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=VA02ca2fc9c8fdf37cd6347716d313826a

EXPO_ACCESS_TOKEN=