SKYE_ENVIRONMENT=local

HTTP_SECRET=iuowghouiagbhwojbawgljkwbnaogjawol

##== Database
DATABASE_HOST=localhost
DATABASE_PORT=25433
DATABASE_USERNAME=book-skye
DATABASE_PASSWORD=book-skye
DATABASE_NAME=book-skye
DATABASE_LOGGING=true
DATABASE_SSL_ENABLED=false

##== Database admin
DATABASE_ADMIN_EMAIL=info@bookskye.co.uk
DATABASE_ADMIN_PASSWORD=password

BOOK_SKYE_API_SENTRY_DSN=https://78166e2877aeb0441ccf43e2575990cc@o4510936134844416.ingest.de.sentry.io/4510936136613968
STRIPE_SECRET=sk_test_51T4qIxBP1stdD6rgmleYTZLjIwZ7jo9KuVRNuxxUlzoS8pD3EKh4TjQxUEGzKdzf4zzb5v9cndFzsJmegXIBFueL00fs1DSFkA
JWT_SECRET=dsbKJUusZVGJUd05cwFv0DX4RFC6yEUjd7LutqbylDtArATbALbML1dLsH1yVxzdywLze9HEcncC5mOh5E+16g==
AWS_SQS_ENVIRONMENT=qa

TWILIO_ACCOUNT_SID=ACecf14c670f0d3fd5cbf7404fc0202ee5
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=VA02ca2fc9c8fdf37cd6347716d313826a

EXPO_ACCESS_TOKEN=