SKYE_ENVIRONMENT=local

HTTP_SECRET=iuowghouiagbhwojbawgljkwbnaogjawol

##== Database
DATABASE_HOST=localhost
DATABASE_PORT=25433
DATABASE_USERNAME=skye-hosts
DATABASE_PASSWORD=skye-hosts
DATABASE_NAME=skye-hosts
DATABASE_LOGGING=true
DATABASE_SSL_ENABLED=false

##== Database admin
DATABASE_ADMIN_EMAIL=info@skyehosts.co.uk
DATABASE_ADMIN_PASSWORD=password

SKYE_GLAMPING_API_SENTRY_DSN=https://ad694cf28e46f72b513f00197e084e95@o4511015368916992.ingest.de.sentry.io/4511015380779088
STRIPE_SECRET=your-stripe-secret-key
JWT_SECRET=dsbKJUusZVGJUd05cwFv0DX4RFC6yEUjd7LutqbylDtArATbALbML1dLsH1yVxzdywLze9HEcncC5mOh5E+16g==
AWS_SQS_ENVIRONMENT=qa

TWILIO_ACCOUNT_SID=ACd14bf4376198f1c05a3835bc660c2f25
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=VAd1268338716ad1f30d6b1ea6624f31bb
TWILIO_VERIFY_BYPASS_ENABLED=true

EXPO_ACCESS_TOKEN=

RESEND_API_KEY=
RESEND_FROM_EMAIL=no-reply@skyehosts.co.uk
RESEND_DISABLED=false

APP_LINK_BASE_URL=https://skyehosts.co.uk
API_BASE_URL=http://localhost:3000

LOG_REQUESTS=true
LOG_RESPONSES=true

AWS_S3_IMAGES_BUCKET=skye-hosts-images-qa
AWS_CLOUDFRONT_IMAGES_DOMAIN=duoedvh52pq2i.cloudfront.net

SCHEDULED_MESSAGE_VERBOSE_LOGGING=false
CALENDAR_SYNC_VERBOSE_LOGGING=false