SKYE_ENVIRONMENT=local

HTTP_SECRET=iuowghouiagbhwojbawgljkwbnaogjawol

##== Database (points to test database)
DATABASE_HOST=localhost
DATABASE_PORT=25433
DATABASE_USERNAME=skye-hosts
DATABASE_PASSWORD=skye-hosts
DATABASE_NAME=skye-hosts-test
DATABASE_LOGGING=false
DATABASE_SSL_ENABLED=false

##== Database admin
DATABASE_ADMIN_EMAIL=info@skyehosts.co.uk
DATABASE_ADMIN_PASSWORD=password

SKYE_GLAMPING_API_SENTRY_DSN=
STRIPE_SECRET=sk_test_51T4qIxBP1stdD6rgmleYTZLjIwZ7jo9KuVRNuxxUlzoS8pD3EKh4TjQxUEGzKdzf4zzb5v9cndFzsJmegXIBFueL00fs1DSFkA
JWT_SECRET=dsbKJUusZVGJUd05cwFv0DX4RFC6yEUjd7LutqbylDtArATbALbML1dLsH1yVxzdywLze9HEcncC5mOh5E+16g==
AWS_SQS_ENVIRONMENT=qa

APP_LINK_BASE_URL=https://skyehosts.co.uk
API_BASE_URL=http://localhost:3001
