NEXT_PUBLIC_SKYE_HOSTS_API_URL=http://localhost:3003
NEXT_PUBLIC_GLAMPING_WEBSITE_SENTRY_DSN=https://66baa795491c0fea4f46535f66362379@o4511015368916992.ingest.de.sentry.io/4511015471874128
NEXTAUTH_SECRET=local-dev-secret-do-not-use-in-production
NEXT_PUBLIC_GOOGLE_MAPS_STATIC_KEY=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your-mapbox-public-token