NEXT_PUBLIC_BOOK_SKYE_API_URL=http://localhost:3003
NEXT_PUBLIC_GLAMPING_WEBSITE_SENTRY_DSN=https://a7b24c7f84a9724b5097c64dbe6bea77@o4510936134844416.ingest.de.sentry.io/4510986873798736
NEXTAUTH_SECRET=local-dev-secret-do-not-use-in-production